__pycache__
src/tests/__pycache__
src/services/__pycache__
src/tools/__pycache__
.pytest_cache
.coverage
htmlcov
.vscode

src/testaus.csv
src/bartsbones.csv
src/tests/barts2.csv
src/services/barts2.csv
src/services/bartsbones.csv
src/services/testaus.csv
